/* images */
@mixin img {
    display: block;
    max-width: 100%;
    height: auto;
}

@mixin cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
/* ! images */

// reset buttons
@mixin resetbutton($padding: 0) {
    border: none;
    margin: 0;
    padding: $padding;
    width: auto;
    background: transparent;
    cursor: pointer;
    appearance: none;
    outline: none;
}

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('#{$file-path}.eot');
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), url('#{$file-path}.woff') format('woff'), url('#{$file-path}.ttf') format('truetype');
    }
}

@mixin custom-container {
    max-width: $container;
    margin: 0 auto;
    @include container-full();
}

@mixin body {
    @include rubik;
    font-weight: $fw-regular;
    font-size: $base-font-size;
    font-style: normal;
}

@mixin resetLink {
    color: $black;
    text-decoration: none;
}

@mixin rubik {
    font-family: "Rubik", sans-serif;
}

@mixin сormorant {
    font-family: "CormorantGaramond", sans-serif;
}

@mixin caribbean {
    font-family: "Caribbean", sans-serif;
}

@mixin btn-default {
    display: inline-block;
    border: 1px solid #3cb950;
    padding: $base*4 $base*8;
    border-radius: $base*12;
    color: #4bb45e;
}

@mixin link-arrow($color) {
    color: $color;
    display: flex;
    align-items: center;

    &::after {
        content: "";
        background-image: url("../../img/svg/banner/arrow-right.svg");
        display: inline-block;
        width: 13px;
        height: 13px;
        margin-left: $base*2;
        margin-top: $base/2;
    }
}