.catalog-info.section-inner
    .catalog-info__all Всего 381
    .catalog-info__sort
        .catalog-info__sort-name Сортировать по:
        .catalog-info__sort-item.selected Популярности
        .catalog-info__sort-item Цене
