.catalog-info {
    display: flex;
    justify-content: space-between;
    color: $main-color-txt;
    font-weight: $fw-light;
    margin-bottom: $base*11;

    &__sort {
        display: flex;

        div:not(:last-child) {
            margin-right: $base*4;
        }

        & .selected {
            display: flex;
            align-items: center;
            font-weight: $fw-regular;

            &::after {
                content: "";
                display: inline-block;
                background-image: url("../img/svg/catalog-info/sort-up.svg");
                width: $base*4;
                height: $base*4;
                margin-left: $base;
            }
        }
    }

    &__sort-item {
        cursor: pointer;
    }
}