header.header.section-outer
    .header__body.section-inner
        .header__top 
            .header__menu.menu
                ul.menu__items
                    li.menu__item 
                        a(href="#") Каталог
                    li.menu__item 
                        a(href="#") О компании
                    li.menu__item 
                        a(href="#") Способы оплаты
                    li.menu__item 
                        a(href="#") Доставка
                    li.menu__item 
                        a(href="#") Отзывы
                    li.menu__item 
                        a(href="#") Дисконтные карты
                    li.menu__item 
                        a(href="#") Видео
                    li.menu__item 
                        a(href="#") Контакты
                +mobileMenu([{link: '#', title : "Каталог"},{link: '#', title : "О компании"},{link: '#', title : "Способы оплаты"},{link: '#', title : "Доставка"},{link: '#', title : "Отзывы"},{link: '#', title : "Дисконтные карты"},{link: '#', title : "Видео"},{link: '#', title : "Контакты"}])
            .header__client.client 
                a(href="#").client__link
                    .client__icon
                        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.78125 9.5C8.875 9.5 8.46875 10 7 10C5.5 10 5.09375 9.5 4.1875 9.5C1.875 9.5 0 11.4062 0 13.7188V14.5C0 15.3438 0.65625 16 1.5 16H12.5C13.3125 16 14 15.3438 14 14.5V13.7188C14 11.4062 12.0938 9.5 9.78125 9.5ZM12.5 14.5H1.5V13.7188C1.5 12.2188 2.6875 11 4.1875 11C4.65625 11 5.375 11.5 7 11.5C8.59375 11.5 9.3125 11 9.78125 11C11.2812 11 12.5 12.2188 12.5 13.7188V14.5ZM7 9C9.46875 9 11.5 7 11.5 4.5C11.5 2.03125 9.46875 0 7 0C4.5 0 2.5 2.03125 2.5 4.5C2.5 7 4.5 9 7 9ZM7 1.5C8.625 1.5 10 2.875 10 4.5C10 6.15625 8.625 7.5 7 7.5C5.34375 7.5 4 6.15625 4 4.5C4 2.875 5.34375 1.5 7 1.5Z" fill="#444444"/>
                        </svg>
                    .client__action-text Войти
                a(href="#").client__link
                    .client__icon
                        <svg width="18" height="18" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M13 12.5C14.6562 12.5 16 11.1562 16 9.5V3.5C16 1.84375 14.6562 0.5 13 0.5H10.375C10.1562 0.5 10 0.6875 10 0.875V1.625C10 1.84375 10.1562 2 10.375 2H13C13.8125 2 14.5 2.6875 14.5 3.5V9.5C14.5 10.3438 13.8125 11 13 11H10.375C10.1562 11 10 11.1875 10 11.375V12.125C10 12.3438 10.1562 12.5 10.375 12.5H13ZM5.21875 1.125L4.59375 1.75C4.4375 1.875 4.4375 2.125 4.59375 2.28125L8.125 5.6875H0.375C0.15625 5.6875 0 5.875 0 6.0625V6.9375C0 7.15625 0.15625 7.3125 0.375 7.3125H8.125L4.59375 10.75C4.4375 10.9062 4.4375 11.1562 4.59375 11.2812L5.21875 11.9062C5.34375 12.0625 5.59375 12.0625 5.75 11.9062L10.875 6.78125C11.0312 6.625 11.0312 6.40625 10.875 6.25L5.75 1.125C5.59375 0.96875 5.34375 0.96875 5.21875 1.125Z" fill="#444444"/>
                        </svg>
                    .client__action-text Регистрация
        .header__bottom
            .header__logo-block.logo
                .logo__item 
                    img(src="./img/header/logo.png", alt="logo")
                .logo__text сеть цветочных оптово-розничных центров
            .header__contacts.contacts
                .contacts__item-block.contacts__item-block_font-md
                    .contacts__phones
                        .contacts__number 
                           a(href="tel: +79651511839") +7 965 151 18 39
                        .contacts__number 
                           a(href="tel: +79161221898") +7 916 122 18 98
                a.contacts__item-block.contacts__icons(href="tel: +79651511839")
                    include ../../../img/svg/header/phone-call.svg
                .contacts__item-block
                    .contacts__info
                        .contacts__info-item 
                            .contacts__info-icon
                                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 0.25C3.71875 0.25 0.25 3.71875 0.25 8C0.25 12.2812 3.71875 15.75 8 15.75C12.2812 15.75 15.75 12.2812 15.75 8C15.75 3.71875 12.2812 0.25 8 0.25ZM8 14.25C4.53125 14.25 1.75 11.4688 1.75 8C1.75 4.5625 4.53125 1.75 8 1.75C11.4375 1.75 14.25 4.5625 14.25 8C14.25 11.4688 11.4375 14.25 8 14.25ZM9.90625 11C10.0938 11.125 10.3125 11.0938 10.4375 10.9062L11.0312 10.125C11.1562 9.9375 11.125 9.71875 10.9375 9.59375L8.875 8.0625V3.625C8.875 3.4375 8.6875 3.25 8.5 3.25H7.5C7.28125 3.25 7.125 3.4375 7.125 3.625V8.78125C7.125 8.875 7.15625 9 7.25 9.0625L9.90625 11Z" fill="#4BB45E"/>
                                </svg>
                            .contacts__info-text Ждем вас с 8:00 до 22:00
                        .contacts__info-item 
                            .contacts__info-icon
                                <svg width="12" height="17" viewBox="0 0 12 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 0C2.65625 0 0 2.71875 0 6C0 8.25 0.71875 8.9375 4.71875 15.3125C5.3125 16.25 6.65625 16.25 7.25 15.3125C11.25 8.9375 12 8.25 12 6C12 2.6875 9.28125 0 6 0ZM6 14.5C2 8.125 1.5 7.71875 1.5 6C1.5 3.53125 3.5 1.5 6 1.5C8.46875 1.5 10.5 3.53125 10.5 6C10.5 7.71875 10 8.0625 6 14.5ZM3.5 6C3.5 7.40625 4.59375 8.5 6 8.5C7.375 8.5 8.5 7.40625 8.5 6C8.5 4.625 7.375 3.5 6 3.5C4.59375 3.5 3.5 4.625 3.5 6Z" fill="#4BB45E"/>
                                </svg>
                            .contacts__info-text Адреса цветочных центров
            .header__cart-lint.cart-line
                .cart-line__block.cart-line__block_favorite
                    .cart-line__icon.cart-line__icon-favorite
                        <svg width="29" height="25" viewBox="0 0 29 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M26.2656 1.94531C23.2578 -0.570312 18.8281 -0.1875 16.0391 2.71094L15 3.80469L13.9062 2.71094C11.6641 0.414062 7.17969 -1.00781 3.67969 1.94531C0.234375 4.89844 0.0703125 10.1484 3.13281 13.3203L13.7422 24.2578C14.0703 24.5859 14.5078 24.75 14.9453 24.75C15.4375 24.75 15.875 24.5859 16.2031 24.2578L26.8125 13.3203C29.875 10.1484 29.7109 4.89844 26.2656 1.94531ZM25.5547 12.1172L15 23.0547L4.39062 12.1172C2.3125 9.92969 1.875 5.82812 4.82812 3.3125C7.83594 0.742188 11.3359 2.60156 12.6484 3.91406L15 6.32031L17.2969 3.91406C18.5547 2.60156 22.1094 0.742188 25.1172 3.3125C28.0703 5.82812 27.6328 9.92969 25.5547 12.1172Z" fill="#FF5555"/>
                        </svg>
                    .cart-line__text Избранное
                .cart-line__block
                    .cart-line__icon.cart-line__icon-basket
                        <svg width="32" height="29" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M30.3828 4H7.30469L6.8125 1.59375C6.70312 0.992188 6.15625 0.5 5.55469 0.5H0.90625C0.523438 0.5 0.25 0.828125 0.25 1.15625V1.59375C0.25 1.97656 0.523438 2.25 0.90625 2.25H5.17188L9 22.6484C8.45312 23.3047 8.125 24.125 8.125 25C8.125 26.9688 9.65625 28.5 11.625 28.5C13.5391 28.5 15.125 26.9688 15.125 25C15.125 24.3984 14.9062 23.7969 14.6328 23.25H22.5625C22.2891 23.7969 22.125 24.3984 22.125 25C22.125 26.9688 23.6562 28.5 25.625 28.5C27.5391 28.5 29.125 26.9688 29.125 25C29.125 24.0703 28.6875 23.1406 28.0312 22.5391C27.9219 21.9375 27.375 21.5 26.7734 21.5H10.5859L9.92969 18H28.0312C28.6875 18 29.1797 17.6172 29.3438 16.9609L31.6953 5.58594C31.8594 4.76562 31.2578 4 30.3828 4ZM13.375 25C13.375 25.9844 12.5547 26.75 11.625 26.75C10.6406 26.75 9.875 25.9844 9.875 25C9.875 24.0703 10.6406 23.25 11.625 23.25C12.5547 23.25 13.375 24.0703 13.375 25ZM25.625 26.75C24.6406 26.75 23.875 25.9844 23.875 25C23.875 24.0703 24.6406 23.25 25.625 23.25C26.5547 23.25 27.375 24.0703 27.375 25C27.375 25.9844 26.5547 26.75 25.625 26.75ZM27.7031 16.25H9.60156L7.63281 5.75H29.8906L27.7031 16.25Z" fill="#4BB45E"/>
                        </svg>
                    .cart-line__text
                        span.cart-line__sum 0
                        span.cart-line__carrency ₽
    .header__catalog-nav.catalog-nav
        ul.catalog-nav__items.section-inner
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Букеты
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Розы
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Цветы
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Горшечные растения
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Повод
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Подарки
            li.catalog-nav__item 
                a.catalog-nav__link(href="#") Акции