section.centers
    .centers__body.section-inner
        .centers__title 
            +title('Цветочные центры')
        .centers__items-block
            ul.centers__items-col
                li.centers__item 
                    a(href="#") м. Марьино
                li.centers__item 
                    a(href="#") м. Белорусская
                li.centers__item 
                    a(href="#") м. Щёлковская
                li.centers__item 
                    a(href="#") м. Профсоюзная
                li.centers__item 
                    a(href="#") м. Площадь Ильича
                li.centers__item 
                    a(href="#") м. Каширская
                li.centers__item 
                    a(href="#") м. Братиславская
            ul.centers__items-col
                li.centers__item 
                    a(href="#") м. Нахимовский проспект
                li.centers__item 
                    a(href="#") м. Полянка
                li.centers__item 
                    a(href="#") м. Кантемировская
                li.centers__item 
                    a(href="#") м. Варшавская
                li.centers__item 
                    a(href="#") м. Новогиреево
                li.centers__item 
                    a(href="#") м. Дмитровская
                li.centers__item 
                    a(href="#") м. Академическая
            ul.centers__items-col
                 li.centers__item 
                    a(href="#")  м. Текстильщики
                 li.centers__item 
                    a(href="#")  м. Университет
                 li.centers__item 
                    a(href="#")  м. Пролетарская
                 li.centers__item 
                    a(href="#")  м. Красносельская
                 li.centers__item 
                    a(href="#")  м. Черкизовская
            
