.catalog {
    &__items {
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify;
    }

    &__item {
        display: inline-block;
        flex-direction: column;
        position: relative;
        text-align: center;
        width: calc((100% - 6 * 20px) / 3);
        padding: $base * 4;

        &:nth-child(n+4) {
            margin-top: $base * 8;
        }
    }

    &__full-card {
        display: block;
    }

    &__favorites {
        float: right;
        cursor: pointer;
    }
    
    &__img {
        position: relative;
        width: $base * 50;
        margin: 0 auto;

        img {
            @include img;
        }
    }

    &__option {
        &_green, &_red, &_blue {
            position: absolute;
            bottom: $base * 9;
            left: 50%;
            border: 1px solid $white;
            padding: $base $base*5;
            transform: translateX(-50%);
            border-radius: $base * 6;
            color: $white;
            white-space: nowrap;
        }

        &_green {
            background-color: #4bb45e;
        }
        
        &_red {
            background-color: #ff5555;
        }

        &_blue {
            background-color: #55b8ff;
        }
    }

    &__option-text {
        display: block;
        padding-left: $base * 6;
        background-repeat: no-repeat;
        background-position: -3% 0%;
        font-weight: $fw-medium;
        font-size: rem(15);

        &_seedling-icon {
            background-image: url("../img/svg/catalog/seedling.svg");
        }

        &_avard-icon {
            background-image: url("../img/svg/catalog/award.svg");
        }

        &_tint-icon {
            background-image: url("../img/svg/catalog/tint.svg");
        }
    }

    &__bottom, &__info {
        text-align: center;
        -moz-text-align-last: auto;
        text-align-last: auto;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        font-weight: $fw-light;
        margin-top: $base * 4;
        line-height: 1.3;
        padding-bottom: $base * 4;
    }

    &__price {
        font-size: rem(34);
        color: #4bb45e;
    }

    &__old-price {
        font-size: rem(18);
        color: #c0c0c0;
        text-decoration: line-through;
        margin-left: $base * 3;
    }

    &__info {
        display: none;
        position: absolute;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: $white;
        padding-bottom: $base * 4;
        //opacity: 0;

        transform: translateY(100%);
        transition: all $transition linear;
    }

    &__item:hover {
        box-shadow: 0 -5px 10px rgba(0, 0, 0, .1);
    }

    &__item:hover &__info {
        // display: block;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        // z-index: 5;
        // opacity: 1;
    }

    &__description {
        background-color: #4bb45e;
        color: $white;
        text-align: left;
        padding: $base * 4;
    }

    &__actions {
        display: flex;
        padding: $base*5 $base*8 $base*4 $base*8;
    }

    &__form, &__btn-buy {
        flex: 0 1 50%;
    }

    &__form {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, .3);
        font-weight: $fw-light;

        input, button {
            outline: none;
        }

        div {
            display: flex;
            align-items: center;
            justify-content: center;
            color: #4bb45e;
            background-color: $white;
            width: $base * 8;
            height: $base * 8;
            padding: 0;
            font-size: rem(24);
            cursor: pointer;
        }

        input {
            text-align: center;
            width: calc(100% - #{$base} * (8 * 2));
            border: none;
            padding: $base;
            font-weight: $fw-light;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
        
        input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    &__form, &__btn-minus {
        border-top-left-radius: $base * 2;
        border-bottom-left-radius: $base * 2;
    }

    &__form, &__btn-plus {
        border-bottom-right-radius: $base * 2;
        border-top-right-radius: $base * 2;
    }

    &__btn-minus {
        border: none;
        border-right: 1px solid rgba(0, 0, 0, .3);
    }

    &__btn-plus {
        border: none;
        border-left: 1px solid rgba(0, 0, 0, .3);
    }

    &__btn-buy {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #4bb45e;
        border-radius: $base + 2;
        margin-left: $base * 5;

        a {
            color: $white;
            display: inline-block;
            padding: $base $base*2;
        }
    }

    &__buy-click {
        color: #4bb45e;

        a {
            display: block;
        }
    }
}