extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Каталог"

block header 
	include ../../blocks/modules/header/header.pug

block content
	include ../../blocks/modules/breadcrumbs/index.pug
	include ../../blocks/modules/filter/catalog-filter.pug
	include ../../blocks/modules/catalog-info/index.pug
	include ../../blocks/modules/catalog/index.pug
	include ../../blocks/modules/viewed/index.pug
	include ../../blocks/modules/catalog/index.pug


block footer 
	include ../../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
