extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Каталог"
	- const titlesForBreadcrumbs = ['Главная', 'Каталог', 'Каталог цветов', '«Тутти фрутти»'];

block header 
	include ../../blocks/modules/header/header.pug

block content
	include ../../blocks/modules/breadcrumbs/index.pug
	include ../../blocks/modules/test/index.pug

block footer 
	include ../../blocks/modules/footer/footer.pug

block scripts
	script(src="js/main.js")
	script(src="js/vendor.js")
