mixin title(text="")
    h2.title.title_center=text

mixin title-df(text="")
    h2.title=text

mixin title-sm(text="")
    h2.title.title_size-sm=text

mixin title-w-40(text="")
    h2.title.title_width-40=text