h2.title {
    @include сormorant;
    font-size: rem(36);
    color: $main-color-txt;

    &_center {
        text-align: center;
    }

    &_size-sm {
        font-style: rem(24);
    }

    &_width-40 {
        width: 40%;
        margin: auto;
        text-align: center;
    }
}