section.advantages
    .advantages__body.section-inner
        .advantages__top
            .advantages__title
                .blockTitleLink
                    .blockTitleLink__title.blockTitleLink__title_size-md «Флорамаркт» — цветочная база и сеть магазинов в Москве
            .advantages__desc Готовитесь к празднику? Мечтаете сделать приятный сюрприз близкому человеку? Любите цветы и с удовольствием дарите их хорошим людям? Интернет-магазин цветов «Флорамаркт» станет для вас настоящим помощником.
        .advantages__items
            .advantages__item
                .advantages__item-img
                    img(src="./img/advantages/item_1.png" alt="")
                .advantages__item-text
                    .advantages__item-title У нас богатый выбор цветочных композиций
                    .advantages__item-desc В каталогах представлен широкий ассортимент оригинальных букетов, подарков и сувениров. Свадебные композиции, цветы для зрелых женщин и молодых девушек, роскошные корзины и скромные букеты — выбор, достойный лучших магазинов, реализующих произведения флористического искусства.
            .advantages__item
                .advantages__item-img
                    img(src="./img/advantages/item_2.png" alt="")
                .advantages__item-text
                    .advantages__item-title Цветы с доставкой в Москве
                    .advantages__item-desc «Floramarkt» — сеть из 17 цветочных магазинов, расположенных в разных районах Москвы, поэтому доставка букетов производится курьерами в минимальные сроки. Поводов, чтобы преподнести близкому человеку цветы, много — свадьба, День рождения, юбилей, профессиональный праздник, 8 Марта, но не обязательно ждать значимого события, ведь неожиданные сюрпризы особенно приятны. Знакомьтесь с ассортиментом товаров и выбирайте лучшее!

