section.subscription
    .subscription__body.section-inner
        .subscription__title Подписаться на скидки и акции
        form.subscription__form
            .subscription__field
                input(type='text' placeholder="Ваш Email" id='place')
                .subscription__field-placeholder
                    label(for='place') Мы присылаем письма не чаще 1 раза в месяц
            .subscription__btn
                button.btn-df Подписаться

