section.banner
    .banner__body.owl-carousel.owl-theme
        .banner__item(style="background-image: url(./img/banner/banner_1.jpg)")
            .section-inner
                .banner__wrapper
                    .banner__block-info
                        .banner__text Всегда в&nbsp;продаже более 100 готовых дизайнерских букетов
                        .banner__link 
                            a.link-arrow(href="#")  Перейти в каталог
        .banner__item(style="background-image: url(./img/banner/banner_1.jpg)")
            .section-inner
                .banner__wrapper
                    .banner__block-info
                        .banner__text Всегда в&nbsp;продаже более 200 готовых дизайнерских букетов
                        .banner__link 
                            a.link-arrow(href="#")  Перейти в каталог
    .banner__dots
