.banner {
    position: relative;
    height: 70vh;

    .owl-dot {
        width: $base * 3;
        height: $base * 3;
        border: $base/2 solid $white;
        padding: 0;
        border-radius: 50%;
        cursor: pointer;
        outline: none;
        background-color: transparent;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

        &:not(:last-child) {
            margin-right: $base * 3;
        }

        &.active {
            background-color: $white;
        }
    }

    &__body, &__item, .owl-stage-outer, .owl-stage, .owl-item, .section-inner {
        height: 100%;
    }

    &__item {
        @include cover;
    }

    &__wrapper {
        display: inline-flex;
        align-items: center;
        height: inherit;
    }

    &__block-info {
        width: 45%;
        height: auto;
        padding: $base*8 $base*12 $base*10 $base*12;
        background: transparentize($white, .05);
    }

    &__text {
        @include сormorant;
        font-size: rem(42);
        margin-bottom: $base * 5;
    }

    &__link {
        text-decoration: underline;
    }

    &__dots {
        display: flex;
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        margin-bottom: $base * 5;
    }
}