section.news
    .news__body.section-inner
        .news__top
            .blockTitleLink
                .blockTitleLink__title.blockTitleLink__title_size-md Новости
                .blockTitleLink__link
                    a.link-arrow(href="#") Все отзывы
        .news__items
            .news__item
                .news__item-top.blockTitleLink.blockTitleLink_ver-top
                    .news__item-title
                        a(href="#") Вакансия флориста
                    .news__item-data 26.12.2020
                .news__item-desc
                    strong Требования:
                    div Опыт работы с горшечными растениями;
                    div Опыт работы в розничных продажах желателен;
                    div Хороший вкус и творческий потенциал, приветствуется;
            .news__item
                .news__item-top.blockTitleLink.blockTitleLink_ver-top
                    .news__item-title
                        a(href="#") Цветочная компания ФлораМаркт делает уникальное предложение для корпоративных клиентов
                    .news__item-data 27.12.2020
                .news__item-desc
                    div Сделайте Ваш бизнес более привлекательным с помощью цветов!
                    div Ваша репутация может опережать Вас, вы можете быть на вершине славы, но вот как сохранить ее? Может, стоит украсить Ваше рабочее место свежесрезанными цветами?



