section.articles
    .articles__body.section-inner
        .articles__top
            .blockTitleLink
                .blockTitleLink__title.blockTitleLink__title_size-md Полезные статьи
                .blockTitleLink__link
                    a.link-arrow(href="#") Все отзывы
        .articles__items
            .articles__item
                .articles__item-img
                    img(src="./img/articles/item_1.png" alt='')
                .articles__item-wrapper
                    .articles__item-data 26.12.2020
                    .articles__item-title
                        a(href="") Заказ цветов и букетов онлайн
                    .articles__item-desc Заказ букетов через Интернет становится все более популярным. Наши цветочные базы и онлайн-магазин предоставляют услуги по доставке букетов в Москве и МО. Это удобно, быстро, и обычно неожиданно для получателя. Наши цветочные композиции помогут поднять настроение, или выразить уважение и любовь.
            .articles__item
                .articles__item-img
                    img(src="./img/articles/item_2.png" alt='')
                .articles__item-wrapper
                    .articles__item-data 28.12.2020
                    .articles__item-title
                        a(href="") Праздничные букеты на заказ с доставкой
                    .articles__item-desc Заказ букетов через Интернет становится все более популярным. Наши цветочные базы и онлайн-магазин предоставляют услуги по доставке букетов в Москве и МО. Это удобно, быстро, и обычно неожиданно для получателя. Наши цветочные композиции помогут поднять настроение, или выразить уважение и любовь.
            .articles__item
                .articles__item-img
                    img(src="./img/articles/item_3.png" alt='')
                .articles__item-wrapper
                    .articles__item-data 30.12.2020
                    .articles__item-title
                        a(href="") Роскошные розы в букетах с доставкой
                    .articles__item-desc Заказ букетов через Интернет становится все более популярным. Наши цветочные базы и онлайн-магазин предоставляют услуги по доставке букетов в Москве и МО. Это удобно, быстро, и обычно неожиданно для получателя. Наши цветочные композиции помогут поднять настроение, или выразить уважение и любовь.