section.customers
    .customers__body.section-inner
        .customers__top
            .blockTitleLink
                .blockTitleLink__title.blockTitleLink__title_pd-l Отзывы о «Флорамаркт»
                .blockTitleLink__link
                    a.link-arrow(href="#") Все отзывы
        .customers__sliders.sliders
            .sliders__wrapper
                .sliders__item
                    .sliders__about
                        .sliders__client Игорь
                        .sliders__date 26.12.2020
                        .sliders__time 17:34
                        .sliders__metro м. Текстильщики
                    .sliders__icons
                        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.1875 13.75H22.5V10C22.5 7.94922 24.1406 6.25 26.25 6.25H26.7188C27.4805 6.25 28.125 5.66406 28.125 4.84375V2.03125C28.125 1.26953 27.4805 0.625 26.7188 0.625H26.25C21.0352 0.625 16.875 4.84375 16.875 10V24.0625C16.875 25.6445 18.1055 26.875 19.6875 26.875H27.1875C28.7109 26.875 30 25.6445 30 24.0625V16.5625C30 15.0391 28.7109 13.75 27.1875 13.75ZM10.3125 13.75H5.625V10C5.625 7.94922 7.26562 6.25 9.375 6.25H9.84375C10.6055 6.25 11.25 5.66406 11.25 4.84375V2.03125C11.25 1.26953 10.6055 0.625 9.84375 0.625H9.375C4.16016 0.625 0 4.84375 0 10V24.0625C0 25.6445 1.23047 26.875 2.8125 26.875H10.3125C11.8359 26.875 13.125 25.6445 13.125 24.0625V16.5625C13.125 15.0391 11.8359 13.75 10.3125 13.75Z" fill="#FDF481"/>
                        </svg>
                    .sliders__rating
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                    .sliders__desc Впечатление — море счастья у всех. Доставка в срок, цветы красивые. Отдельное спасибо оператору и курьеру за вежливость.
                .sliders__item
                    .sliders__about
                        .sliders__client Илья
                        .sliders__date 31.01.2021
                        .sliders__time 15:20
                        .sliders__metro м. Щёлковская
                    .sliders__icons
                        <svg width="30" height="27" viewBox="0 0 30 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M27.1875 13.75H22.5V10C22.5 7.94922 24.1406 6.25 26.25 6.25H26.7188C27.4805 6.25 28.125 5.66406 28.125 4.84375V2.03125C28.125 1.26953 27.4805 0.625 26.7188 0.625H26.25C21.0352 0.625 16.875 4.84375 16.875 10V24.0625C16.875 25.6445 18.1055 26.875 19.6875 26.875H27.1875C28.7109 26.875 30 25.6445 30 24.0625V16.5625C30 15.0391 28.7109 13.75 27.1875 13.75ZM10.3125 13.75H5.625V10C5.625 7.94922 7.26562 6.25 9.375 6.25H9.84375C10.6055 6.25 11.25 5.66406 11.25 4.84375V2.03125C11.25 1.26953 10.6055 0.625 9.84375 0.625H9.375C4.16016 0.625 0 4.84375 0 10V24.0625C0 25.6445 1.23047 26.875 2.8125 26.875H10.3125C11.8359 26.875 13.125 25.6445 13.125 24.0625V16.5625C13.125 15.0391 11.8359 13.75 10.3125 13.75Z" fill="#FDF481"/>
                        </svg>
                    .sliders__rating
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                        <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.08203 1.24219L5.30469 4.87891L1.28516 5.45312C0.574219 5.5625 0.300781 6.4375 0.820312 6.95703L3.69141 9.77344L3.00781 13.7383C2.89844 14.4492 3.66406 14.9961 4.29297 14.668L7.875 12.7812L11.4297 14.668C12.0586 14.9961 12.8242 14.4492 12.7148 13.7383L12.0312 9.77344L14.9023 6.95703C15.4219 6.4375 15.1484 5.5625 14.4375 5.45312L10.4453 4.87891L8.64062 1.24219C8.33984 0.613281 7.41016 0.585938 7.08203 1.24219Z" fill="#FF5555"/>
                        </svg>
                    .sliders__desc Очень приятно) Подарок понравился, качество хорошее. Пользоваться сервисом удобно, приятно. Порекомендую знакомым.
            .sliders__dots
                .sliders__dot.active
                .sliders__dot
                .sliders__dot
                .sliders__dot
        .customers__bottom
            .customers__title.tx-center Наши клиенты и партнеры
            .customers__items
                .customers__item
                    img(src="./img/customers/image_1.png", alt="")
                .customers__item
                    img(src="./img/customers/image_2.png", alt="")
                .customers__item
                    img(src="./img/customers/image_3.png", alt="")
                .customers__item
                    img(src="./img/customers/image_4.png", alt="")
                .customers__item
                    img(src="./img/customers/image_5.png", alt="")
                .customers__item
                    img(src="./img/customers/image_6.png", alt="")
                .customers__item
                    img(src="./img/customers/image_7.png", alt="")
                .customers__item
                    img(src="./img/customers/image_8.png", alt="")
                .customers__item
                    img(src="./img/customers/image_9.png", alt="")
                .customers__item
                    img(src="./img/customers/image_10.png", alt="")
                .customers__item
                    img(src="./img/customers/image_11.png", alt="")
                .customers__item
                    img(src="./img/customers/image_12.png", alt="")
