.customers {
    &__body {
        margin: $indent-vertical-md auto;
        padding-top: $indent-vertical-md;
        padding-bottom: $indent-vertical-md;
    }

    &__top {
        margin-bottom: $base*5;
    }

    &__link {
        font-weight: $fw-light;
        font-size: rem(14);
        text-decoration: underline;
    }

    &__items {
        display: flex;
        justify-content: space-evenly;
        padding-top: $base * 5;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: $base * 17;

        img {
            @include img;
        }
    }
}

.sliders {
    margin-bottom: $indent-vertical-sm;

    &__wrapper {
        display: flex;
    }

    &__item {
        position: relative;
        padding: $base*5;
    }
    
    &__about {
        display: flex;
        align-items: center;
        margin-bottom: $base * 3;
    }

    &__client {
        font-style: italic;
        font-size: rem(18);
        color: #444;
        margin-right: $base * 9;
    }

    &__date, &__time, &__metro {
        font-size: rem(14);
        color: transparentize(#444, .42);
    }

    &__date {
        margin-right: $base * 4;
        position: relative;

        &:before, &:after {
            content: "—";
            display: inline-block;
            position: absolute;
        }

        &:before {
            left: -$base * 5.675;
        }

        &:after {
            content: "-";
            right: -$base * 2.9;
        }
    }

    &__time {
        margin-right: $base * 2;
    }

    &__rating {
        margin-bottom: $base * 1.5;
    }

    &__icons {
        position: absolute;
        top: 0;
        right: $base*5;
    }

    &__desc {
        font-size: rem(15);
        font-weight: $fw-light;
        color: #444;
        line-height: 1.7;
    }

    &__dots {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__dot {
        width: $base * 2;
        height: $base * 2;
        border: 1px solid #4bb45e;
        border-radius: 50%;
        cursor: pointer;
        
        &.active {
            background: #4bb45e;
        }

        & + & {
            margin-left: $base * 2;
        }
    }
}
